<app-header>
</app-header>
<section class="jumbotron">
    <div class="inner-content">
        <div class="h2 boldest text-center">
            Cart
        </div>
    </div>
</section>
<section class="padded" id="shopping-list">
    <div class="container">
        <table class="table">
            <thead>
                <th>
                    Product Name
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
                <th>
                </th>
            </thead>
            <tbody>
               

                <tr>
                    <td class="d-flex align-items-center">
                        <div class="product-image">
                            <img alt="" src="/assets/img/denim2.jpg">
                                <div class="product-name">
                                    <!-- Liya Dress -->
                                </div>
                        </div>
                    </td>
                    <td style="font-size: 20px;">
                        <del>N</del>
                        <span class="boldest">
                            50,000
                        </span>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon">
                                +
                            </span>
                            <input class="form-control" type="text" value="3">
                                <span class="input-group-addon">
                                    −
                                </span>
                        </div>
                    </td>
                    <td style="font-size: 20px;">
                        <del>N</del>
                        <span class="boldest">
                            150,000
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-light boldest">
                            ×
                        </button>
                    </td>
                </tr>
            </tbody>

            <tfoot>
            	<tr>
            		<td colspan="3">
            			<button class="btn btn-secondary boldest">Continue Shopping</button>
            			<button class="btn btn-light boldest">&times; Clear Shopping Cart</button>
            		</td>
            		
            		<td class="boldest" style="vertical-align: middle;"></td>
            		<td>
            			
            		</td>
            	</tr>
            </tfoot>
        </table>
        <div class="float-right">
        	<button class="btn btn-light boldest">Update Cart</button>
            			<button class="btn btn-accent boldest">Proceed To Checkout &raquo;</button>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<section id="shipping" class="padded">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3 class="boldest">Calculate Shipping</h3> <br>
				<form>
  

  <div class="form-group">
  	<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
        <option selected>Country</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
  </div>

  <div class="form-group">
  	<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
        <option selected>City</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
  </div>

  <div class="form-group">
    <input type="email" class="form-control" placeholder="PostCode / Zip">
  </div>
  <button type="submit" class="btn btn-accent">Submit</button>
</form>
			</div>
		</div>
	</div>
</section>
<app-footer>
</app-footer>