<app-header [cart]="cart"></app-header>
<section class="padded" id="shopping-list">
    <div class="container">
        <table class="table">
            <thead>
                <th>Product Image</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Size</th>
                <th>Color</th>
                <th>Sub-Total</th>
                <th>
                </th>
            </thead>
            <tbody>


                <tr *ngFor="let item of cart">
                    <td>
                        <img [src]="item.product_image" alt="" style="height: 100px; width: 100px;">
                    </td>
                    <td>
                        {{item.product_name}}
                    </td>
                    <td>
                        <span>{{t.getItem('currency')}}</span>
                        <span>
                            {{item.sale_price / t.getItem('rate') | number}}
                        </span>
                    </td>
                    <td>
                        <span style="font-size: 19px;">
                            <input type="text" value="{{item.qty | number}}" readonly style="border: none; background: #FFF; max-width: 20px; margin: 0; padding: 5px;"
                                ([ngModel])="count">
                        </span>
                    </td>
                    <td>
                        <span style="text-transform: uppercase;">
                            {{item.size }}
                        </span>
                    </td>
                    <td>
                        <span style="text-transform: uppercase;">
                            {{item.color }}
                        </span>
                    </td>
                    <td>
                        <span>{{t.getItem('currency')}}</span>
                        <span>
                            {{item.cost / t.getItem('rate') | number}}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-light boldest tooltips" (click)="(remove(item))">
                            ×
                        </button>
                        <span>delete item</span>
                    </td>
                </tr>
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="12">
                        <button style="cursor: pointer;" class="btn btn-secondary boldest" (click)="goHome()">Continue Shopping</button>
                        <button style="cursor: pointer;" type="button" (click)="proceed()" [disabled]="!cart" class="btn btn-accent boldest ladda-button"
                            data-style="expand-right">
                            <span class="ladda-label">Proceed To Checkout &raquo;</span>
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="float-right">
            <!-- <button class="btn btn-light boldest">Update Cart</button> -->
        </div>
        <div class="clearfix"></div>
    </div>
</section>