<app-header [cart]="cart"></app-header>
<section class="padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <!-- filter section -->

        <div id="accordion" role="tablist">
          <!-- start filter box -->
          <div class="card">
            <div class="card-header" role="tab" id="FilterTab">
              <h5 class="mb-0">
                <a class="boldest" data-toggle="collapse" href="#FilterTabPanel" aria-expanded="true" aria-controls="FilterTabPanel">
                  Filter
                </a>
                <span class="icon float-right">
                  <i class="ion-plus-round"></i>
                </span>
                <button class="btn btn-secondary btn-block filter-btn" (click)="applyFilter()">Apply</button>
              </h5>
            </div>

            <div id="FilterTabPanel" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body" style="padding-right: 15px;">
                <ul class="nav flex-column">
                  <!-- update filter button -->
                  <div style="margin-bottom: 10px">
                    <label>Price Range</label>
                    <input type="text" class="range-slider" value="" />

                  </div>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
              <h5 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                  Product Type
                </a>
                <span class="icon float-right">
                  <i class="ion-plus-round"></i>
                </span>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <div *ngFor="let productType of productTypes">
                      <label for="{{productType.slug}}">
                        <input type="checkbox" id="{{productType.slug}}" value="{{productType.slug}}" (change)="addProductTypeFilter($event)"> &nbsp; {{productType.name}}
                      </label>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-7 offset-md-1">
        <h5 class="boldest">
          {{category}} > {{productType}} > {{sub}}
        </h5>
        <p style="font-size: 12px">
          <b>{{products?.length || '0'}}</b> Item(s) found</p>
        <div class="row">

          <!-- <div class="col-md-6 col-lg-4" *ngFor="let product of products">
            <div class="product-component text-center">
              <div class="product-image">
                <a routerLink="/product/{{product.id}}/{{product.slug}}">
                  <img src="{{product.banner_image}}" alt="product image" class="img-fluid">
                </a>
              </div>
              <div class="product-title">
                <h6 class="" style="text-align: center;margin: 0;padding: 10px 0 0;">
                  <a style="color: #011936" routerLink="/product/{{product.id}}/{{product.slug}}">{{product.name}}</a>
                </h6>
                <span class="text-center">
                  <span>{{t.getItem('currency')}}</span>
                  <b>{{product.sale_price / t.getItem('rate') |number}}</b>
                </span>
              </div>
            </div>
          </div> -->

          <ul class="listing">
            <li class="product" *ngFor="let product of products">
              <a class="img-wrapper" routerLink="/product/{{product.id}}/{{product.slug}}">
                <img src="{{product.banner_image}}" alt="{{product.slug}}" />
              </a>
              <div class="info">
                <div class="title">{{product.name}}</div>
                <div class="price">{{t.getItem('currency')}}{{product.sale_price / t.getItem('rate') | number}}</div>
              </div>

              <div class="actions-wrapper">
                <a href="#" class="add-btn wishlist">Wishlist</a>
                <a href="#" class="add-btn cart">Cart</a>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>