<app-header></app-header>
<div class="jumbotron">
	<div class="text-center">
		<h3>Registration</h3>
		<p>Create an account on VogueAfriq</p>
	</div>
</div>

<section class="padded">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<form>
    <label class="form-group has-float-label">
  <input class="form-control" type="email" placeholder="email@example.com"/>
  <span>Email</span>
</label>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>
