<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="title">
                    Payment &amp; Delivery
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/terms-conditions">
                            Terms &amp; Conditions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/shipping-returns">
                            Shipping &amp; Returns
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/privacy-policy">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">
                            Ways to Pay
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <div class="title">
                    Help &amp; Support
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/faqs">
                            Frequently Asked Questions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="#">
                            Size Chart
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <div class="title">
                    About Us
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/about-us">
                            About <b>VogueAfriq</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Latest Collections
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Top Stores
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                           Sell on <b>VogueAfriq</b>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <div class="title">
                    Contact Info
                </div>
                 <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/contact-us">
                            Contact Us
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>
        <div class="row text-center so">
      <div class="col-md-12">
            <section id="partners" class="padded d-flex justify-content-center" style="">
                    <img src="/assets/img/facebook.png" alt="">
                    <img src="/assets/img/twitter.png" alt="">
                    <img src="/assets/img/instagram.png" alt="">
                    <!-- separator here  -->
                    <img src="/assets/img/mastercard.png" alt="">
                    <img src="/assets/img/visa.png" alt="">
                </section>
                
    
      </div>

        </div>
    </div>
</footer>