<footer>
    <div class="top-footer">
            <div class="row row-top">
                    <div class="col-md-12">
                            <div class="row ">
                                    <div class="col-md-3 ">
                                           <a routerLink="/contact-us">> Contact Us</a>
                                           <hr>
                                    </div>
                                    <div class="col-md-3">
                                            <a routerLink="/about-us">> About Vogueafriq</a>
                                            <hr>
                                    </div>
                                    <div class="col-md-3">
                                            <a href="#">> Delivery</a>
                                            <hr>
                                     </div>
                                     <div class="col-md-3">
                                            <a href="#">> Careers</a>
                                            <hr>
                                     </div>
                                     <div class="col-md-3">
                                            <a routerLink="/faqs">> FAQ</a>
                                            <hr>
                                    </div>
                                    <div class="col-md-3">
                                                    <a routerLink="/terms-conditions">> Terms and Condition</a>
                                                    <hr>
                                    </div>
                                    <div class="col-md-3">
                                                <a routerLink="/shipping-returns">> Return</a>
                                                <hr>
                                </div>
                                <div class="col-md-3">
                                                <a href="#">> Privacy Policy</a>
                                                <hr>
                                </div>
                                <div class="col-md-3">
                                                <a href="#">> Ways to pay</a>
                                                <hr>
                                </div>
                                <div class="col-md-3">
                                                <a href="#">> Latest Collections</a>
                                                <hr>
                                </div>
                                <div class="col-md-3">
                                                <a href="#">> Top Stores</a>
                                                <hr>
                                </div>
                                <div class="col-md-3">
                                                <a target="_blank" href="http://stores.vogueafriq.com">> Sell on vogueafriq</a>
                                                <hr>
                                </div>
                            </div>
                    </div>
                    
  
            </div>
    </div>
  
    <div class="bottom-footer">
            <div class="row ">
            <div class="col-md-12 text-center">
                    <p><a href="#">© Copyright  2018   |  Vogueafriq </a>   |   All Rights Reserved      </p>
            </div>
            </div>
  
            <div class="row ">
                        <div class="col-md-6  pull-right">
                               <a href="#"> <span class="fa fa-facebook fa-2x"></span></a>
                               <a href="#"> <span class="fa fa-twitter fa-2x"></span></a>
                                <a href="#"><span class="fa fa-instagram fa-2x"></span></a>
                                <a href="#"><span class="fa fa-pinterest fa-2x"></span></a>
                                <a href="#"><span class="fa fa-youtube fa-2x"></span></a>

                        </div>
                            <div class="col-md-6 text-center">
                                            <img class="img-responsive" src="https://www.garmspot.com/wp-content/uploads/2017/06/cards.png" alt="visa card">
                                    </div>
            </div>
  
    </div>
  </footer>
  