.top-footer{
    background-color: #2b2e32;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    a{
      color: white;
      text-decoration: none;
      padding-bottom: 15px;
    }
    a:hover{
      color: rgb(71, 71, 196);
    }
    hr{
      margin: 0px ;
      border-top: 1px solid rgb(56, 54, 54);
    }
    .col-md-4{
      padding: 15px 5px;
    }
  
  }
  .row-top{
    padding: 20px 0px;
    padding-left: 100px ;
  }
  .bottom-footer{
    background-color: #1d1f22;
    color: white;
    padding: 50px 0px;
    a{
      color: white;
      text-decoration: none;
    }
    .center-img{
      margin: 0px 40%;
    }
  }

.img-responsive{
    display: inline;
}