 <app-header></app-header>
 <section class="jumbotron">
 	<div class="inner-content">
 		<h3 class="text-center boldest">New Arrivals</h3>
 	</div>
 </section>
<section class="padded">
	<div class="container">
		<!-- display products and their respective filters -->
		<div class="row">
			

			<div class="col-sm-12">
				<!-- Listings for products -->
				<div class="row">
					<div class="col-sm-4" *ngFor="let item of arrivals">
						<div class="product-component">
							<div class="product-image">
								<img src="{{item.feature_image}}" alt="product image">
							</div>
							<div class="product-title">
								<h5 class=""><a href="product/{{item.id}}/{{item.slug}}">{{item.name}}</a></h5>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>