<section class="padded">
	<div class="container">
		<div class="card" style="min-height: 500px; max-width: 80%; margin: 0 auto; text-align: center;">
			<div class="truck-container" style="width: 135px; height: 135px; margin: 0 auto; margin-top: 130px;">
				<img src="../../../assets/img/delivery-truck.png" alt="" style="width: 135px; height: 135px; margin: 0 auto">
			</div>
			<h3>Thank you for shopping with us!</h3>
			<p>All goods are delivered to our office at ...</p>
		</div>
	</div>
</section>