@import '../../../sass/variables';


.navbar-default{
    margin-bottom: 0px
  }
.head{
    background-color: #011936;
    height: 45px;
    width: 100%;
    padding: 5px;
    padding-top: 12px;
    .sell{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.01em;
        color: orange;
        margin-right: 200px;
    
    }
    .reg{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 0.01em;
        color: white;
        margin-right: 50px;
    }
    .log{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 0.01em;
        color: white;
        margin-right: 50px;
    }
  }
  .navbar {
    height: 0px;
    padding-top: 10px;
    padding-bottom: 60px;
    margin-bottom: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }
  .navbar-inverse{
    
  }
  
  
  
  .nav .navbar-nav .active a{
   
  }
  .dropdown{
    color: #000000;
  }
  .navbar-brand {
    margin-top: -8%;
    img {
      height: 46px;
    }
  .fa-circle{
    color: orange;
  }
  .texthead{
    color: #000000 !important;
  }
  }
  .text-brand{
    font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 36px;
  margin-left: 0px;
  color: #4F4F4F;
  }
  
  #navbar-search-input {
    display: inline-block;
    font-size: 16px;
    height: 20px;
    line-height: 24px;
    width: 235px;
    color: #696e79;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #d5d6d9;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    background: #f5f5f6;
  
    &:focus {
      background-color: #fff;
      border-color: #14cda8;
      box-shadow: none;
    }
  }
  
  .input-group-addon {
    background: #f5f5f6;
  }
  
  .desktop-query {
    width: 300px;
    float: right;
    line-height: 0;
    margin: 4px 10px 20px 0;
  
    input.desktop-searchBar {
      font-family: Whitney;
      display: inline-block;
      float: left;
      font-size: 16px;
      height: 20px;
      line-height: 24px;
      width: 235px;
      color: #696e79;
      box-sizing: content-box;
      padding: 8px 10px 10px;
      margin: 0;
      outline: 0;
      border: 1px solid #d5d6d9;
      border-radius: 20px 0px 0px 20px;
      border-right: 0;
      background: #f5f5f6;
      &:focus, &:focus+a.desktop-submit {
        background-color: #fff;
        border-color: #14cda8;
      }
    }
  
    a.desktop-submit {
      box-sizing: content-box;
      display: inline-block;
      height: 28px;
      width: 40px;
      text-align: center;
      padding: 8px 0 2px;
      background: #f5f5f6;
      border: 1px solid #d4d5d9;
      border-left: none;
      border-radius: 0px 20px 20px 0px;
      .desktop-iconSearch {
        display: inline-block;
      }
      .sprites-search {
        width: 21px;
        height: 21px;
        // background-position: -284px -160px;
      }
      .web-sprite {
        
        background-position: -209px -148px;
        // background-size: 1404px 105px;
        display: inline-block;
      }
  
    }
  }
  
  .dropbtn {
  
    background-color: #222;
    color: grey;
  
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 300px;
    opacity: 0.7;
    background-color: black;
    color: white;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: gray;}
  
  .dropdown:hover .dropdown-content {display: inline-block;}
  
  .dropdown:hover .dropbtn {color: white;}
