@import '../../../sass/variables';
header {
    background: #fff;
    height: 50px;
    width: 100%;
    &#top-header {
        height: 30px;
        background-color: $site-blue;
    }
    &#primary-header {
        height: 60px;
    }
}
.navbar-nav .dropdown {
    cursor: pointer;
    position: relative;

    .dropdown  {
        .dropdown-menu {
         position: absolute;
            left: 0;
            top: 0;
    }
    }
}
.navbar-nav .dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    // margin-right: -10px;
        margin-right: -30px
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#top-header {
    nav {
        a, span {
            font-size: 14px;
            padding: 0 20px;
            color: $body-color;
            &:last-of-type {
                padding-right: 0;
            }
        }
    }
}
.navbar-brand {
    font-weight: bolder;
    letter-spacing: -1px;
    text-transform: lowercase;
}
.main-nav {
    li {
        margin-right: 15px;
    }
}
// 
.dropdown-toggle {
    &::after {
        content: "\F3D0";
        font-family: 'ionicons';
        border: 0;
        vertical-align: 0;
    }
}
.dropdown-menu {
    border: 0;
    box-shadow: 0 0 3px #c1cedd;
    font-size: 12px;
    font-weight: 600;
        padding: 10px 20px;
li {
    line-height: 30px !important;
}

        a {
            font-weight: 700;
            color: $site-blue;
            line-height: 1.2;
        }
}

.dropdown-submenu {
    a {
        font-size: 12px;
        &::after {
        margin-top: 5px;
    }
    }
}
// 
.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 0.5rem 5rem;
    .nav-link {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }
    [type=search] {
        font-family: $primary-font;
        font-size: 14px;
        font-weight: 600;
        padding: 8px 20px;
        text-transform: lowercase;
        outline: 0;
        border-radius: 50px;
        background: #e0e0e0;
        border: 0;
        transition: 0.2s ease-in;
        &:focus {
            box-shadow: 0 0 0 1px #d35400;
            background: #fff;
        }
    }
}
.search-form {
    .search-group {
        position: relative;
    }
    button {
        border: 0;
        position: absolute;
        top: 4px;
        right: 20px;
        font-size: 20px;
        color: #7a8999;
        background: transparent;
    }
}
// cart bubble
.cart-bubble {
    width: 20px;
    text-align: center;
    line-height: 20px;
    background: #E91E63;
    position: absolute;
    top: 5px;
    right: 0;
    border-radius: 50%;
    height: 20px;
    color: #fff;
}

@media (max-width: 420px) { 


#top-header  .inner {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
}