<header id="top-header">
  <div class="inner" style="padding: 0.4rem 5rem">
      <nav class="nav justify-content-end">
        
        <a class="nav-link active" target="_blank" href="http://stores.vogueafriq.com">Sell on <b>VogueAfriq</b></a>
        <span class="greeting">Hi <b>{{customer?.first_name}}</b></span>
       <!--  <span class=""><b>Logout</b></span> -->
     

<select name="currency" id="currency_selector" (change)="changeCurrency($event)" style="height: 18px; font-size: 12px; margin-left: 20px">
    <option *ngFor="let item of currencys" [selected]="t.getItem('currency')===item.code" [value]="item.code">{{item.name}}</option>
</select>
        
      </nav>
  </div>
</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">VogueAfriq<span class="big-dot">.</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto main-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"   id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
         <ul class="dropdown-menu">
                  <li *ngFor="let item of categorys" class="dropdown-submenu">
                  <a class="nav-link dropdown-toggle" (mouseover)="setCategory(item.slug)"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > {{item.name}} </a>
                        <ul class="dropdown-menu">
                                 <!--  <li *ngFor="let pt of productTypes"> <a href="/category/{{selectedCategory}}/{{selectedProductType}}" (click)="setProductType(pt.slug)" > {{pt.name}}</a>
                              </li> -->

                                <li *ngFor="let pt of item.product_types" class="dropdown-submenu"> 
                                <a class="nav-link dropdown-toggle" (mouseover)="setProductType(pt.slug)"  id="navbarDropdown" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > {{pt.name}}</a>

                                     <ul class="dropdown-menu">
                                         
                                          <li *ngFor="let sub of pt.sub_categorys"> <a href="/category/{{selectedCategory}}/{{selectedProductType}}/{{sub.slug}}"  > {{sub.name}}</a>
                                        </li>
                                           
                                  </ul>
                              </li>
                                 
                        </ul>
                  </li>
                 
             </ul>
        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/category/{{item.slug}}"  *ngFor="let item of categorys">
            {{item.name}}
          </a>  

        </div> -->


      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Store
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="/store/{{item.slug}}"  *ngFor="let item of stores">
            {{item.name}}
          </a>


          
       
        </div>
      </li>
      <li class="nav-item dropdown">
          <!-- <a class="nav-link" href="/clearance">Clearance Sales</a> -->
          <a class="nav-link dropdown-toggle"   id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clearance Sales
        </a>
         <ul class="dropdown-menu">
                  <li *ngFor="let item of categorys" class="dropdown-submenu">
                  <a class="nav-link dropdown-toggle" (mouseover)="setCategory(item.slug)"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > {{item.name}} </a>
                   <ul class="dropdown-menu">
                                

                                <li *ngFor="let pt of item.product_types" class="dropdown-submenu"> 
                                <a class="nav-link dropdown-toggle" (mouseover)="setProductType(pt.slug)"  id="navbarDropdown" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" > {{pt.name}}</a>

                                     <ul class="dropdown-menu">
                                           <!--  <li *ngFor="let pt of productTypes"> <a href="/category/{{selectedCategory}}/{{selectedProductType}}" (click)="setProductType(pt.slug)" > {{pt.name}}</a>
                                        </li> -->

                                          <li *ngFor="let sub of pt.sub_categorys"> <a href="/clearance/{{selectedCategory}}/{{selectedProductType}}/{{sub.slug}}" > {{sub.name}}</a>
                                        </li>
                                           
                                  </ul>
                              </li>
                                 
                        </ul>
                     
                  </li>
                 
             </ul>





      </li>
      <li class="nav-item">
        <a class="nav-link" href="/new-arrivals">New Arrivals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
    </ul>

   
    <form class="form-inline search-form">
      <div class="search-group">
      	<input class="form-control mr-sm-2" #search type="search" placeholder="Search Products..." aria-label="Search">
      <button class="" (click)="searchProduct(search.value)"><i class="ion-ios-search-strong"></i></button>
      </div>
    </form>

    <ul class="navbar-nav pull-right">
   	<li class="nav-item">
        <a class="nav-link" href="#">
        	<img src="/assets/img/avatar.png" width="30" alt="avatar">
          <!-- logged in user -->

        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  [attr.href]="cart ? '/cart' : null"   style="position: relative;">
            <!-- href="/cart"-->
        	<img src="/assets/img/cart.png" width="30" alt="cart">
          <span *ngIf="cart?.length > 0" class="cart-bubble">{{cart?.length}}</span>
        </a>
      </li>
   </ul>
  </div>
</nav>

