 <app-header></app-header>
<section id="product-detail" class="padded">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<!-- slider -->
				<div class="slider-element">
					<div class="slider-nav">
					<div class="slider-item" style="background: url('/assets/img/denim1.jpg')  ; "></div>
					<div class="slider-item" style="background: url('/assets/img/denim2.jpg')  ; "></div>
					<div class="slider-item" style="background: url('/assets/img/denim1.jpg')  ; "></div>
				</div>
				<div class="slider-for">
					<div class="slider-item" style="background: url('/assets/img/denim1.jpg')  ; "></div>
					<div class="slider-item" style="background: url('/assets/img/denim2.jpg')  ;"></div>
					<div class="slider-item" style="background: url('/assets/img/denim1.jpg')  ; "></div>
				</div>
				</div>
			</div>

			<div class="col-md-5 offset-md-1">
				<div class="product-details">
					<div class="title">
						{{product.name}}
					</div>
					<div class="price">
						<span class="" style="margin-right: 50px">
							<del>N</del> {{product.regular_price |number}}
						</span>

						<span class="" style="text-decoration: line-through; opacity: 0.2">
							<del>N</del> {{product.discount_price |number}}
						</span>
					</div> <br>

					<p class="">
						{{product.description}}
					</p>

					<form  [formGroup]="cartForm" (ngSubmit)="addToCart()"   novalidate>
						<div class="row">
							<div class="form-group col-md-4">
							<input type="number" class="form-control" [(ngModel)]="productItem.qty" [formControl]="cartForm.controls['qty']" required>

							 <div *ngIf="cartForm.controls['qty'].hasError('required') && formSubmitAttempt" style="color: red">Quantity is required</div>
						</div>

						<div class="form-group col-md-3">
							<input type="number" class="form-control" placeholder="Size" required>
						</div>

						<div class="form-group col-md-4">
							<select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect" >
						        <option selected>Color</option>
						        <option value="1">Red</option>
						        <option value="2">Blue</option>
						        <option value="3">Green</option>
						     </select>
						</div>
						</div>

						<div class="actions">
						<button type="submit" class="btn btn-block btn-accent pull-left">Add to Cart</button>
						<button class="btn btn-block pull-right">Save for Later</button>
						<br>
						
					</div>
					<p><b>Category : </b> Women, Ladies</p>
						<p>SHARE &nbsp; <button class="btn btn-sm btn-outline-primary boldest">facebook</button> <button class="btn btn-sm btn-outline-info boldest">twitter</button> </p>
					</form>

					
				</div>
			</div>
		</div>
	</div>
</section>

<section id="product-description" class="padded">
	<div class="container">
		<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
  </li>
</ul>
<div class="tab-content text-center" id="myTabContent" style="padding: 20px">
  <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus natus vitae dicta facilis velit ut nobis delectus ipsa temporibus explicabo ab accusantium dolorem nam, sed deleniti consequatur quibusdam quae et.
  </div>
  <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">2</div>
</div>
	</div>
</section>

<section id="related-products" class="padded">
	<div class="container">
		<div class="section-header font-2">Related Collections <span class="big-dot">...</span></div>
		<div class="responsive">
		    <div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		    <div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		    <div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		    <div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		    <div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		    <div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		    <div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		<div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		<div>
		    <div style="background: #d6dee0; width: 200px; height: 180px">
		    	<!-- <img src="/assets/img/denim1.jpg" width="200px" height="180px" alt=""> -->
		    </div>
		</div>
		 </div>
		<!-- .................. -->
		<div class="text-center">
			<!-- <button class="btn btn-outline-accent btn-rounded load-more btn-accent">Load-more</button> -->
		</div>
	</div>
</section>
<app-footer></app-footer>