<app-header></app-header>
 <section class="jumbotron">
 	<div class="inner-content">
 		<h3 class="text-center boldest"> WELCOME TO VOGUEAFRIQ.COM!!</h3>
 	</div>
 </section>

<section class="padded">
	<div class="container">
		<div class="content">
			<p>
Yes! Everything on the website is priced at £5! Having established ourselves as global leaders for Staged budget clothing, we are constantly pushing boundaries to bring trend-led clothing for £5. We stand ahead of our competitors for not only the affordable price we offer but also for the high street trends we provide.
Our stocks sell fast. Daily new arrivals keep our website constantly buzzing with fresh new styles. This gives our customers an enhanced shopping experience where they are able to choose from a variety of products. Since inception, we have grown rapidly introducing menswear and plus-size range in addition to womenswear.
</p>

<p>
Currently, we have over one million registered customers, who are testimony to the credibility we have gained in Staged fashion. Our reasonable pricing policy combined with our cutting edge quality clothing has generated valuable recommendations on social media platforms. We take pride in engaging our customers through social media by directing them to our daily bestsellers, celebrity style steals, giveaways and catwalk looks.


</p>

<p>
We have built excellent relationships with manufacturers worldwide who are able to offer us with high street stock at a reasonable price. In our commitment to deliver the best customer satisfaction, we keep our profit margins low and our quality high.

So grab a bargain now at everything5pounds.com and stay fabulous on a budget!

Company Information
Fiver London Limited is a newly incorporated business and registered in England in 2010. The company registration number is 7384676.

 
 

</p>
		</div>
	</div>


</section>