<section class="padded">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form (ngSubmit)="saveShipping()" novalidate>
					<div class="row">
						<div class="col-sm-6">
							<h5 style="margin-bottom: 20px" class="boldest">Shipping/Delivery Information</h5>
							<div class="row">
								<div class="form-group col-md-12">
									<label for="">First Name</label>
									<input type="text" class="form-control" [(ngModel)]="shipping.first_name" name="first_name" required>

								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Last Name</label>
									<input type="text" class="form-control" [(ngModel)]="shipping.last_name" name="last_name" required>

								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Address Line 1</label>
									<input type="text" class="form-control" [(ngModel)]="shipping.address_1" name="address_1" required>
								</div>

							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Address Line 2(optional)</label>
									<input type="text" class="form-control" [(ngModel)]="shipping.address_2" name="address_2">
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Email</label>
									<input type="email" class="form-control" [(ngModel)]="shipping.email" name="email" required>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Phone Number</label>
									<input type="text" class="form-control" [(ngModel)]="shipping.phone" name="phone" required>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Choose Country</label>
									<select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="shipping.country" name="country" (change)="fetchRegions($event)"
									 required>

										<option *ngFor="let item of countrys" [value]="item.country_code">{{item.name}}</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">State/Region/Province</label>
									<select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="shipping.region" name="region" required>

										<option *ngFor="let region of regions" [value]="region.slug">{{region.name}}</option>
									</select>

								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">ZipCode</label>
									<input type="text" class="form-control" [(ngModel)]="shipping.zipcode" name="zipcode">
								</div>
							</div>
						</div>

						<div class="col-sm-6">
							<h5 style="margin-bottom: 20px; display: inline-block" class="boldest">Billing Information</h5>
							<input type="checkbox" (change)="setBillingToShipping()">
							<div class="row">
								<div class="form-group col-md-12">
									<label for="">First Name</label>
									<input type="text" class="form-control" [(ngModel)]="billing.first_name" name="first_name" required>

								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Last Name</label>
									<input type="text" class="form-control" [(ngModel)]="billing.last_name" name="last_name" required>

								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Address Line 1</label>
									<input type="text" class="form-control" [(ngModel)]="billing.address_1" name="address_1" required>
								</div>

							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Address Line 2(optional)</label>
									<input type="text" class="form-control" [(ngModel)]="billing.address_2" name="address_2">
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Email</label>
									<input type="email" class="form-control" [(ngModel)]="billing.email" name="email" required>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Phone Number</label>
									<input type="text" class="form-control" [(ngModel)]="billing.phone" name="phone" required>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">Choose Country</label>
									<select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="billing.country" name="country" (change)="fetchRegions($event)"
									 required>

										<option *ngFor="let item of countrys" [value]="item.country_code">{{item.name}}</option>
									</select>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">State/Region/Province</label>
									<select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="billing.region" name="region" required>

										<option *ngFor="let region of regions" [value]="region.slug">{{region.name}}</option>
									</select>

								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-12">
									<label for="">ZipCode</label>
									<input type="text" class="form-control" [(ngModel)]="billing.zipcode" name="zipcode">
								</div>
							</div>
						</div>
					</div>

					<button type="submit" class="btn  btn-accent">Save and Proceed</button>
				</form>
			</div>

		</div>


	</div>
</section>