<section class="padded">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h5 style="margin-bottom: 20px" class="boldest">Shipping/Delivery Details</h5>
				<form [formGroup]="shippingForm" (ngSubmit)="saveShipping()"   novalidate>

				   	<div class="row">
						<div class="form-group col-md-12">
							<label for="">Name/Company</label>
							<input type="text" class="form-control" [(ngModel)]="shipping.name" [formControl]="shippingForm.controls['name']" required>

							 <div *ngIf="shippingForm.controls['name'].hasError('required') && shippingAttempt" style="color: red">Name/Company is required</div>
						</div>
					</div>

				    <div class="row">
						<div class="form-group col-md-12">
						    <label for="">Choose Country</label>
						  	<select class="custom-select mb-2 mr-sm-2 mb-sm-0" [(ngModel)]="shipping.country" [formControl]="shippingForm.controls['country']" required>

						       <option *ngFor="let item of countrys" [value]="item.slug">{{item.name}}</option>
						    </select>

						     <div *ngIf="shippingForm.controls['country'].hasError('required') && shippingAttempt" style="color: red">Country is required</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label for="">Zip Code</label>
							<input type="text" class="form-control" [(ngModel)]="shipping.zipCode" [formControl]="shippingForm.controls['zipCode']" required>

							 <div *ngIf="shippingForm.controls['zipCode'].hasError('required') && shippingAttempt" style="color: red">Zip code is required</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label for="">Address Line 1</label>
							<input type="text" class="form-control" [(ngModel)]="shipping.addressLine1" [formControl]="shippingForm.controls['addressLine1']" required>

							 <div *ngIf="shippingForm.controls['addressLine1'].hasError('required') && shippingAttempt" style="color: red">Address1 is required</div>
						</div>

				    </div>

				    <div class="row">

						<div class="form-group col-md-12">
							<label for="">Address Line 2(optional)</label>
							<input type="text" class="form-control" [(ngModel)]="shipping.addressLine2" [formControl]="shippingForm.controls['addressLine2']" >
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label for="">City</label>
							<input type="text" class="form-control" [(ngModel)]="shipping.city" [formControl]="shippingForm.controls['city']" required>

							 <div *ngIf="shippingForm.controls['city'].hasError('required') && shippingAttempt" style="color: red">City is required</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label for="">State/Region/Province</label>
							<input type="text" class="form-control" [(ngModel)]="shipping.state" [formControl]="shippingForm.controls['state']" required>

							 <div *ngIf="shippingForm.controls['state'].hasError('required') && shippingAttempt" style="color: red">State is required</div>
						</div>
					</div>

					

					

					

				
					
					<button type="submit" class="btn  btn-accent">Save</button>
				</form>
			</div>
			<div class="col-sm-5 offset-md-1">
				<div class="jumbotron ordinary" style="padding:40px">
					<div class="text-center">
						<h5 class="boldest">Your Order</h5><hr>
					</div>

					<table class="table table-striped">
                   <tbody>
                       <tr>
                           <td>Subtotal</td>
                           <td>$20.00</td>
                       </tr>

                       <tr>
                           <td>Shipping</td>
                           <td>
                               <ul id="shipping_method" class="list-unstyled">
<li>
<input type="radio" name="shipping_method" id="shipping_method_flat_rate1" value="1" class="shipping_method" checked="checked">
<label for="shipping_method_flat_rate1">Flat rate: <span class="amount">$5.00</span></label> </li>
<li>
<input type="radio" name="shipping_method" id="shipping_method_free_shipping2" value="2" class="shipping_method">
<label for="shipping_method_free_shipping2">Free shipping</label> </li>
</ul>
                           </td>
                       </tr>


                   </tbody>

                   <tfoot>
                       <tr>
                           <th>Subtotal</th>
                           <th class="color-accent">$25.00</th>
                       </tr>
                   </tfoot>
               </table> <hr>

					<div class="form-actions text-center">
						<button class="btn btn-accent">Place Order</button>
					</div>
				</div>
			</div>
		</div>

		
	</div>
</section>