@import '../sass/variables';
.nav-pills .nav-link {
    border-radius: 0.25rem;
    color: #011c27;
    transition: 0.2s ease-in;
    // font-weight: 600;

    &:hover {
    	color: $site-accent;
    }

    &.active {
    	background-color: $site-accent;
    	color: #fff;
    }
}
label {
	font-size: 13px;
	font-weight: 700;
}
input {
	border: 0
}

.jumbotron {
    margin-bottom: 0 !important;
}

.padded {
    background: #E0E0E0;
    min-height: 500px;
}

.card {

    .card-header {

        p {
            font-size: 13px;
            color: #EB5757;
            font-weight: bold;
        }

        span {
            font-size: 12px;
            font-weight: bold;
            opacity: .7;
        }
    }

    small {
        font-weight: bold;
        opacity: .7;
    }
}