@import '../../../sass/variables';
.avatar {
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    background: $site-blue;
    color: $site-accent;
    font-size: 25px; // font-weight: 700;
}
.progress {
    margin-bottom: 15px;
}
.product-component {
    img {
        width: 100%;
    }
    .product-title {
        margin-top: 10px;
    }
}
.card {
    border: 0;
    margin-bottom: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px #ddd;
}
.card-body {
    padding: 10px 0;
    a {
        font-weight: 700;
        color: $site-accent;
        font-size: 14px;
        line-height: 1;
    }
}
.card-header {
    border: 0;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
    h5 {
        font-family: $primary-font;
        color: $site-blue;
        font-size: 15px;
        a {
            color: $site-blue;
            text-decoration: none;
        }
    }
}


.follow-store-btn {
    display: block;
    padding: 5px 10px;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid #e9ecef;
    color: #ffffff;
}