<app-header [cart] ="cart"></app-header>
<section class="jumbotron">
	<div class="container inner-content">
		<div class="row align-items-center">
			<div class="col-sm port">
				<div class="avatar">
			<!-- If no avatar use Initials -->
		<!-- 	<span class="initials">
				{{store.name}}
			</span> -->

			<!-- <img src="http://placehold.it/100x100" alt="avatar"> -->
		</div>
	<!-- 	<span class="store-name boldest h5" style="margin-top: 10px; display: inline-block">{{store.name}}</span> -->

		<span class="store-name boldest h5" style="margin-top: 10px; display: inline-block">{{store.name}}</span>
    <button style="" class="btn btn-sm follow-store-btn">follow store</button>

			</div>
			<div class="col-sm port">
				<h5 class="boldest mb-0 uppercase">
					Seller since
				</h5>
				<span class="uppercase">
					{{store.user?.date_joined | date}}
				</span>
			</div>
			<div class="col-sm port">
				<h5 class="boldest mb-0 uppercase">
					Successful Sales
				</h5>
				<span class="uppercase">
					0 sales
				</span>
			</div>
			<div class="col-sm port">
				<div>
					<div class="title" style="margin-bottom: 5px; font-size: 12px; text-transform: uppercase; font-weight: 700">
						Product quality
					</div>
					<div class="progress" style="height: 5px">
				  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				</div>

				<div>
					<div class="title" style="margin-bottom: 5px; font-size: 12px; text-transform: uppercase; font-weight: 700">
						Product quality
					</div>
					<div class="progress" style="height: 5px">
				  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				</div>

			</div>
		</div>
	</div>
</section>



<section class="padded" style="">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <!--  -->
        <form _ngcontent-c2="" class="form-inline search-form ng-untouched ng-pristine ng-valid" novalidate="" >
      <div _ngcontent-c2="" class="search-group" style="width: 100%">
        <input _ngcontent-c2="" aria-label="Search" class="form-control mr-sm-2" placeholder="Search in Store..." style="width: 100%" type="search">
      <button _ngcontent-c2="" class=""><i _ngcontent-c2="" class="ion-ios-search-strong"></i></button>
      </div>
    </form> <br>
        <!-- filter section -->
        <div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a class="boldest" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Categories
        </a>
        <span class="icon float-right"><i class="ion-plus-round"></i></span>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <ul class="nav flex-column">
      <li class="nav-item" >
        <div *ngFor="let item of categorys">
          <label for="{{item.slug}}">
            <input type="checkbox" id="{{item.slug}}" class="icheck" > &nbsp;
                  {{item.name}}
            </label>
        </div>

     
      </li>
      
    </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Product Type
        </a>
        <span class="icon float-right"><i class="ion-plus-round"></i></span>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul class="nav flex-column">
      <li class="nav-item" >
        <div *ngFor="let item of productTypes">
          <label for="{{item.slug}}">
          <input type="checkbox" id="{{item.slug}}" class="icheck"> &nbsp;
          {{item.name}}
        </label>
        </div>

       
      
      </li>
      
    </ul>
      </div>
    </div>
  </div>
 
</div>
      </div>
      <div class="col-sm-8 offset-md-1">
        <!--  -->
        <div class="row">
          <div class="col-sm-4" *ngFor="let item of products">
            <!-- overall link for product and title -->
<!--             <a href="">
 -->              <div class="product-component">
						<div class="product-image text-center">
            <a routerLink="/product/{{item.id}}/{{item.slug}}">
							<img src="{{item.feature_image}}" alt="product image" class="img-fluid">
              </a>
							<!-- <img src="/assets/img/moon-dress.jpg" alt="product image" class="img-fluid"> -->
						</div>
						<div class="product-title">
							<h5 class=""><a routerLink="/product/{{item.id}}/{{item.slug}}">{{item.name}}</a></h5>
							<span>{{t.getItem('currency')}}</span><b>{{item.sale_price / t.getItem('rate') |number}}</b>
							</div>
						</div>
            <!-- </a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->