<app-header ></app-header>
<section class="jumbotron">
    <div class="inner-content text-center">
        <h3 class="boldest">
           PRIVACY POLICY
        </h3>
    </div>

</section>

<section class="bg-white padded">
    <div class="container">
    <div class="content">
    	<p>Fiver London Ltd ("we") are committed to protecting and respecting your privacy.
</p>
<p>
	This privacy policy together with our User Terms and Conditions, (the "Terms") and any other documents referred to in the terms sets out the basis on which any personal data we collect from you (the "user" or "customer"), or that you provide to us, will be processed by us. Please read the following carefully to understand our views and practices regarding your personal data and how we will treat it. By visiting www.everything5pounds.com (referred to as "our website") you are accepting and consenting to the practices described in this policy.
</p>

<p>For the purpose of the Data Protection Act 1998 (the "Act"), the data controller is Fiver London Ltd, a company incorporated and registered in England with company number 09229268, whose registered address is 12 Castlehaven Road, London NW1 8QW.</p>
    </div>


    </div>
	
</section>