@import '../../../sass/variables';

.carousel-item {
    background-color: darken(#e2e8ef, 10%)  !important;
    background-position: center center;
    background-size: cover !important;
    min-height: 400px;
    max-height: 400px;
}
.img-men .col-md-4 img{
    width: 100%;
    height: 500px;

}
.img-men {
    margin-bottom: 20px
}
.img-men span{
    font-weight: bold;
}
.card-footer .btn-secondary{
    background-color: #E91E63;
    border: 1px solid #E91E63;
}
ul.new-arrival-container {
    margin: 0 auto;

    li {
        margin: 0 10px 0 0;
        list-style: none;
        float: left;
        max-width: 350px;
        max-height: 200px;
        text-align: center;
        padding: 15px 0 0 0;

        a {
            max-width: 350px;
            max-height: 200px;

            img {
                margin: 0;
                display: block;
                max-width: 350px;
                max-height: 200px;
            }
        }

    }
}

#new-arrivals {
    .item {
        position: relative;
        background: #e2e8ef;
        margin-bottom: 30px;
        max-width: 270px;
        height: 400px;
        height: 290px;
        overflow-y: hidden;
        
        figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-image: linear-gradient(#0f1432, #323232);
            color: #fff;
            padding: 20px;
            opacity: .9;
            a {
                font-weight: bold;
            }
        }
    }
    span{
        font-weight: bold;
        font-size: 1.2em;
    }
}

#for-her, #for-him {
    .item {
        background: #e2e8ef;
        margin-bottom: 30px;
        max-width: 100%;
        height: 400px;
    }
}
.row  .padded .section-header .text h6{
    font-size: 13px;
    font-weight: bold;  
    
    
}
.row  .padded .section-header .text{
    padding: 70px 50px;
    margin-top: 100px;
    background-color: rgba(245, 245, 245, 0.719)
}
.img-hover img:hover{
    background-color: grey;
    opacity: 0.9;
}
.filter-nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 45px;
    text-transform: uppercase;
    a {
        font-weight: 700;
        color: $site-blue;
        &.active {
            color: $site-accent;
        }
    }
}
.mini-products {
    .item-image {}
    .item {
        background: transparent !important;
        display: flex;
        height: 235px;
        flex-direction: column;
        justify-content: space-between;
    }
    .mini-products-image {
        height: 150px;
        background: #e2e8ef;
    }
    .mini-products-details {
        text-align: center;
        font-size: 14px;
        .title {
            font-weight: 700;
            font-size: 14px;
            text-transform: capitalize;
        }
        .price {
            font-weight: 400;
        }
    }
}

#promo-banner {
    min-height: 400px;
    background: url('/assets/img/promo-banner.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .label {
        background: #ffffffc4;
        padding: 50px 100px;
        box-shadow: 20px 20px 59px 20px #fff inset;
        text-align: center;
    }
    .bigger-text {
        color: #011c27;
        font-size: 4rem;
        font-family: 'Pacifico';
        text-transform: lowercase;
    }
    small {
        font-size: 20px;
        color: #d76418;
        font-weight: 700;
    }
}

$top-ranked-height: 400px;
$toppers-height: $top-ranked-height/3.2;
.top-ranked {
    height: $top-ranked-height;
    background: #eee;
    .rank-1, .rank-2 {
        // width: 100%;
        height: $toppers-height;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-family: $primary-font;
    }
    .rank-3, .rank-4, .rank-5 {
        // height: $top-ranked-height - ($toppers-height * 2);
        height: 96.75px;
        width: (100/3)+%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 12px;
        font-family: $primary-font;
    }
    .rank-1 {
            background: #303548;
    color: #fff;
    }
    .rank-2 {
            background: #1f2332;
    color: #f8f9fa;
    }
    .rank-3 {
        background: #303548;
    color: #fff;
    }
    .rank-4 {
            background: #1f2332;
    color: #f8f9fa;
    }
    .rank-5 {
       background: #303548;
    color: #fff;
    }
}

.rank {
    // max-height: 50px;
    padding: 10px 10px;
    background: $site-accent;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    // padding-left: 40px;
    display: flex;
    align-items: center;
    word-spacing: 5px;
    overflow: hidden;
    &:nth-child(2) {
        background: #303548;
    }

    &:nth-child(3) {
        background: #1f2332;
    }

    &:nth-child(4) {
        background: #303548;
    }

    &:nth-child(5) {
        background: #1f2332;
    }

    &:nth-child(6) {
        background: #303548;
    }
    span.center {
        margin: 0 auto;
    }
    .text-left {
        padding-left: 40px;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
}

@media (max-width: 420px) {
    #partners {
        img {
            width: 25px !important;
            height: 25px !important;
        }
    }

    #promo-banner{
        .label {
            padding: 20px;
            font-size: 80%; 
        }
    }

    #top-header .inner {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
.well .row .col-md-3 h6{
    font-size: 13px
}
.mb-text{
    display: none;
}

@media(max-width:500px){
    .well{
        display: none;
    }
    .div-text{
        display: none;
    }
    .mb-text{
        display: block;
    }
    .mb-btn-sub{
        margin-top: 18px;
      
    }
}