<app-header [cart]="cart"></app-header>
<!-- <div class="row"> -->
<div class="container">
    <div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">

        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators">
          </li>
          <li data-slide-to="1" data-target="#carouselExampleIndicators">
          </li>
          <li data-slide-to="2" data-target="#carouselExampleIndicators">
          </li>
        </ol>
      
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url('/assets/img/banner/women-category-banner.jpg');">
            <a href="">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="boldest">The Liya Lisafi Collection</h3>
                <p>collection description goes here</p>
              </div>
            </a>
          </div>
          <div class="carousel-item" style="background-image: url('/assets/img/banner/women-category-banner.jpg');">
            <a href="">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="boldest">Amal &amp; Nikolina</h3>
                <p>collection description goes here</p>
              </div>
            </a>
          </div>
          <div class="carousel-item" style="background-image: url('/assets/img/banner/women-category-banner.jpg');">
            <a href="">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="boldest">Mena</h3>
                <p>collection description goes here</p>
              </div>
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
          <span aria-hidden="true" class="carousel-control-prev-icon">
          </span>
          <!-- <span class="sr-only">Previous</span> -->
        </a>
        <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
          <span aria-hidden="true" class="carousel-control-next-icon">
          </span>
          <!-- <span class="sr-only">Next</span> -->
        </a>
      </div>
      <div class="well bg-light text-dark" style="padding: 5px 10px;">
        <div class="row ">
          <div class="col-md-3">
            <h6>FREE EXPRESS SHIPPING </h6>
          </div>
          <div class="col-md-3">
            <h6>EASY RETURN | UK & US</h6>
            </div>
            <div class="col-md-3">
              <h6>UK/US NEXT DAY DELIVERY 
                </h6>
              </div>
              <div class="col-md-3 ">
                <h6 >FREE 2-3 WORKING DAYS </h6>
                </div>

        </div>


      </div>

</div>



<!-- Top Ranked stores -->

<!-- </div> -->

<div class="container">
    
      
          <div class="row mt-5">
              <div class="col-md-6" >
                  <div class="" >
                      <div class="col-md-4 img-hover">
                        <h3 class="mb-text text-center"><i>For Her</i></h3>
                         <a routerLink="/for-her"> <img src="../../../assets/img/forher.PNG" style="height:500px;width:350px;float: left;" alt="for her"></a>
                      </div>
                      <div class="col-md-2 bg-light  div-text" style="float:left;margin-top: 25%;padding: 40px 10px;min-width: 170px;">
                          <h6 >CLOTHING FOR ANY OCCASSION,</h6>
                          <h6>ALWAYS FEMININE,</h6>
                          <h6>WITH HIGH ATTENTION TO DETAILS</h6>
        
                      </div>
                  </div>
                </div>

            <div class="col-md-6" >
              <div class="" >
                  <div class="col-md-4 img-hover">
                      <h3 class="mb-text text-center"><i>For Him</i></h3>
                      <a routerLink="/for-him">
                        <img src="https://i.pinimg.com/originals/39/b3/85/39b3851386510f8130757914ffe759a5.jpg" style="height:500px;width:350px;float: left;" alt="for him">

                      </a>
                  </div>
                  <div class="col-md-2 bg-light div-text" style="float:left;margin-top: 25%;padding: 40px 10px;min-width: 170px;">
                      <h6 >CLOTHING FOR ANY OCCASSION,</h6>
                      <h6>ALWAYS MEN,</h6>
                      <h6>WITH HIGH ATTENTION TO DETAILS</h6>
    
                  </div>
              </div>
            </div>

          </div>
      
    

          <div class="row mt-5 mb-2">
              <div class="col-md-12 text-center">
                <h1>
                  <i>New Arrivals</i>
                </h1>
              </div>
            </div>
            <div class="row img-men">
        

              <div class="col-md-4" *ngFor="let item of newArrivals">
               <div class="card" >
                 <a routerLink="/product/{{item.id}}/{{item.slug}}"> 
                   <img class="img-responsive" src={{item.feature_image}} alt={{item.name}} >
                 </a>
                 <div class="card-footer">
                   <span class="price">{{item.currency.code}} {{item.sale_price}}</span><br>
                   <span class="name">{{item.name}}</span> <a routerLink="/product/{{item.id}}/{{item.slug}}" class="btn btn-secondary text-light btn-sm pull-right"> <span class="fa fa-shopping-bag"></span> BUY NOW</a>
         
                 </div>
               </div>     
             </div>
           </div> 
</div>

<section id="promo-banner">
  <div class="label">
    <div class="label-text">
      <div class="bigger-text">
        80% discount
      </div>
      <small>#Embersales</small>
    </div>
  </div>
</section>
<section id="subscription" class="padded">
    <div class="container " >
        <div class="text-center ">
            <h3 class="title">Get Updates</h3>
            <!-- <p>Get email notifications on price slashes</p> <br> -->
            <form class="form-inline d-flex justify-content-center">
              <div class="form-group mx-sm-3">
                <label for="email" class="sr-only">Email</label>
                <input type="password" class="form-control mb-btn-sub" id="email" placeholder="email address">
              </div>
              <button type="submit" class="btn btn-warning ">Subscribe</button>
            </form>
        </div>
    </div>
</section>

<!-- <app-footer>
</app-footer> -->
