.container{
    width: 100%;
   position: normal;

}
.carousel-inner > .item > img, {
    height: 500px;
}
.row .col-md-2{
    padding: 20px;
    color: #FFFFFF;
    font-weight: bold;
}
.padleft{
    padding-left: 80px;
    font-weight: bold;
    color: #FFFFFF
}

.italic{
    font-family: Pacifico, Courier, monospace
}
.btn{
    padding: 10px 50px;
    font-family: Oxygen;
    text-align: center;
    margin-top: 10px
}
.redcolor{
    color: red;
}
.st{ 
    font-family: 'Playfair Display SC', serif;
}
.num{
    font-family: 'Berkshire Swash', cursive;
}
.box{
    width: 310px;
    font-family:  Montserrat;
    height: 100px;
    background-color: pink !important;
    margin-right: 3px;
    float: right;
    padding-left: 10px;
    margin-top: 0px;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
line-height: normal;
font-size: 24px;
color: #FFFFFF;
}
.smbox{
    width: 150px;
    height: 100px;
    font-family:  Montserrat;
    background-color: pink !important;
    margin-right: 3px;
    margin-left: 10px;
    float: right;
    margin-top: 10px;
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
line-height: normal;
font-size: 24px;
color: #FFFFFF;
    p{
        margin: 0px;
    }
}
.arrow{
    
    float: right;
    position: absolute;
    width: 52px;
    height: 52px;
    font-size: 2em;
    left: 1350px;
    top: 384px;
    color:#011936 !important;
    
}


.hd{
    font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 60px;
  
  color: #011936;
  text-decoration: underline;
  text-align: center;
  }
  .mtt{
    margin-top: 100px;
  }
  .row .col-md-6 .btn-default h4{
    font-weight: 200;
  }
  .row .col-md-6 .btn-default{
    background-color: black;
    color: white;
    font-weight: 200;
  }
  .bgimg{
    height: auto;
    width:50%;
  }
  .smimg{
   
    height: auto;
    width:64%;
  }
  .mtc{
    margin-top: 10px;
  }
  .gp{
    margin-left:  10%;
  }
  .fothd{
    margin-top: 10%;
    margin-left: 5%;
  }
  .fotbd{
      margin-top: 10%;
  }
  .down{
    position: relative
  }
  .top{
    position: absolute;
    margin-left: 35%;
    margin-top: 15%;
    background-color: gray;
    padding: 10%;
    
  }
  .bbd{
     
  }
  
  .bmt .btn-default{
    background-color: black;
    color: white;
    padding: 10px 30px;
    font-weight: 200;
    margin-top: 20px;
    font-weight: bold;
  }
.con{
    padding-left: 25px;
    padding-right: 25px
  }
  .head{
    font-family: 'Pacifico', cursive;
  font-size: 48px;
  color: #011936;
  padding-left: 15px;
  text-align: center;
  }
   img{
    width: 360px;
  height: 484px;
  }
  
  
  .content {
    background-color: #fff;
    width: 759px;
    display: inline-block;
    vertical-align: top;
    margin-top:300px;
    .queried-for {
      display: inline;
      overflow: hidden;
      // display: inline-block;
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
      color: #282c3f;
      width: 50%;
      .q {
        font-weight: 900;
        display: inline-block;
        text-overflow: ellipsis;
        vertical-align: top;
        overflow: hidden;
        white-space: nowrap;
        max-width: 67%;
      }
      span {
        line-height: 39px; // Temporary hack fix it later
        color: #282c3f;
        font-weight: 400;
        font-size: 18px;
        font-style: normal;
      }
    }
  
    .options {
      position: relative;
      float: right;
      text-align: right;
      margin: 12px 0 0 5px;
      display: inline-block;
      ul.img-size {
        display: inline-block;
        margin-right: 10px;
        label {
          color: #696b79;
          font-weight: 400;
        }
        li {
          list-style: none;
          display: inline-block;
          cursor: pointer;
          margin: 0 4px -2px;
          width: 19px;
          height: 13px;
    
          &.big {
            background-position: -284px -160px;
            &.selected {
              cursor: default;
              background-position: -284px -180px;
            }
          }
          &.small {
            background-position: -311px -160px;
            &.selected {
              background-position: -311px -180px;
              cursor: default;  
            }
          }
          
        }
      }
      ul.sort {
        display: inline-block;
        position: relative;
        color: #282c3f;
        label {
          margin-left: 5px;
          font-weight: 400;
        }
        label:first-child {
          color: #3e4152;
        }
        li {
          display: inline-block;
          margin-left: 5px;
          text-decoration: none;
          cursor: pointer;
          
        }
        li:after {
          content: ' ';
          display: inline-block;
          height: 11px;
          width: 1px;
          border-left: 1px solid #3e4152;
          margin-left: 5px;
          margin-bottom: -1px;
        }
        label {
          font-weight: 400;
          margin-left: 5px;
          li:first-child {
            margin-left: 0;
          }
          li:after {
            content: none;
          }
        }
      }
      ul.sort:before, ul.sort:after {
        content: "";
        display: table;
      }
    }
    .options:before, .options:after {
      content: "";
      display: table;
    }
  }
  .carousel-inner>.item>img{
      width: 100%;
      height: 500px;
  }
  
