<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1><span>The quick brown fox jumped over the lazy dog</span></h1>

<style>
h1 {
  width: 70%;
  margin: auto;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  line-height: 80px;
}

h1 span {
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
}
</style>
</body>
</html>