<app-header [cart]="cart">
</app-header>
<section class="jumbotron">
    <div class="inner-content text-center">
        <h3 class="boldest">
            Here are some Frequently Asked Questions about our business!
        </h3>
    </div>
</section>
<section class="bg-white">
    <div class="container">
    	<div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link" data-target="#collapseOne" data-toggle="collapse">
                        1. WHY IS IT SO CHEAP?
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
                <div class="card-body">
                    Because we have the vast experience in the fashion business and our contacts from all over the world are working for us around the clock! We believe women's fashion trends are changing so fast that our customers should have the right to fill up their wardrobes without having to pay a fortune!

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseTwo" data-toggle="collapse">
                        2. SHOULD I WORRY ABOUT THE QUALITY OF THE ITEMS?
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                <div class="card-body">
                   No, not at all. If you go out and pop in to one of your local fashion stores you will find exactly the same products being sold there at a price that is three times higher than ours. Localization of fashion business is one of the biggest factors of the soaring prices in the industry. We offer you a high quality of fashion range at only £5.00 and you will not find a better price.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse">
                       3. CAN I RETURN MY ITEMS IF THEY  DO NOT FIT ME?
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion" id="collapseThree">
                <div class="card-body">
                   Of course you can. We give you the option of returning the items that you do not wish to keep and guarantee 100% refund if that is the case.


                </div>
            </div>
        </div>
          <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse">
                       4. ARE YOU GOING TO GET MORE STOCK?
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion" id="collapseThree">
                <div class="card-body">
                  Everyday. Please sign up for a newsletter so not to miss out on any fantastic product we have got on offer. We add new products everyday but we run out of some items everyday too.


                </div>
            </div>
        </div>
        <div class="">
        <p>Please send your questions to sales@everything5pounds.com if they are not listed above.</p>

        <p>Our phone lines are open during working hours Monday - Friday (not including bank holidays).</p>

        <p>Enjoy the 5 star experience!</p>
        </div>
    </div>
    </div>
</section>
