<app-header [cart]="cart"></app-header>
<section class="jumbotron">
	<div class="inner-content text-center">
		<h4 class="boldest">My Account</h4>
	</div>
</section>
<section class="padded">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

					<a class="nav-link active" id="v-pills-information-tab" data-toggle="pill" href="#v-pills-information" role="tab" aria-controls="v-pills-information"
					 aria-selected="true">Personal Information</a>

					<a class="nav-link" id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab" aria-controls="v-pills-orders"
					 aria-selected="false">Orders</a>

					<a class="nav-link" id="v-pills-wishlist-tab" data-toggle="pill" href="#v-pills-wishlist" role="tab" aria-controls="v-pills-wishlist"
					 aria-selected="false">Wishlist</a>

					<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
					 aria-selected="false" (click)="logout()">Log out</a>

				</div>

			</div>

			<div class="col-sm-8 offset-md-1">
				<div class="tab-content" id="v-pills-tabContent">

					<div class="tab-pane fade show active" id="v-pills-information" role="tabpanel" aria-labelledby="v-pills-information-tab">

						<div class="profile-container">
							<h3 style="display: inline-block">My Information</h3>
							<a routerLink="/" style="float: right; position: relative; top: 5px;">edit profile</a>
							<hr>
							<h5>Account Information</h5>
							<p>
								Name:
								<span>{{customer?.first_name}} {{customer?.last_name}}</span>
							</p>
							<p>
								Email:
								<span>{{customer?.email}}</span>
							</p>
							<p>
								Mobile:
								<span>{{customer?.mobile}}</span>
							</p>

							<hr>

							<h5>Shipping Information</h5>
							<p>
								Name:
								<span>Jane Doe</span>
							</p>
							<p>
								Email:
								<span>jane@doe.com</span>
							</p>
							<p>
								Address 1:
								<span>T4 Marimpex Estate</span>
							</p>
							<p>
								Address 2:
								<span></span>
							</p>
							<p>
								Country:
								<span>United Kingdom</span>
							</p>
							<p>
								Region:
								<span>Accrington</span>
							</p>
							<p>
								Zip Code:
								<span>12338</span>
							</p>
						</div>
					</div>

					<div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">
						<div class="row">
							<div class="col-md-6" *ngFor="let order of orders">
								<div class="card">
									<div class="card-header">
										<div class="row">
											<div class="col-md-8">
												<p>Order#: {{order?.id}}</p>
												<span>{{order?.timestamp | date: 'mediumDate'}}</span>
											</div>
											<div class="col-md-4">
												<p>Order Status</p>
												<span>{{order?.order_status}}</span>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-12">
												<span>
													<small style="position: relative; left: 5px;">{{order?.items.length}} items</small>
													<small style="color: #EB5757; float: right; margin-top: 5px; cursor: pointer; opacity: .9; position: relative; right: 10px;">view details</small>
												</span>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="order-img">
													<img [src]="" alt="">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane fade" id="v-pills-wishlist" role="tabpanel" aria-labelledby="v-pills-wishlist-tab">
						Wishlist
					</div>


				</div>
			</div>
		</div>
	</div>
</section>