
#accordion {
	padding-top: 40px;
	padding-bottom: 40px;
}
.btn-link {
	text-decoration: none;
	font-weight: 700;
	text-transform: capitalize;
}

.jumbotron {
	&:after {
		background-image: none;
	}

	h3 {
		color: #000;
	}
}

.card-body {
	font-size: 14px;
}