@import '../../../../sass/variables';
.product-component {
    img {
        width: 100%;
    }
    .product-title {
        margin-top: 10px;
    }
}
.card {
	border: 0;
	margin-bottom: 15px;
        margin-bottom: 15px;
    box-shadow: 2px 2px 5px #ddd;
}

.card-body {
	    padding: 1.25rem 5px;
	    a {
	    	font-weight: 100;
	    	color: $site-accent;
	    }
}
.card-header {
	border: 0;
	padding: 20px;
    h5 {
        font-family: $primary-font;
        color: $site-blue;
        font-size: 15px;

        a{
        	color: $site-blue;
        	text-decoration: none;
        }
    }
}