.img-men .col-md-4 img{
    width: 100%;
    height: 500px;

}
.img-men {
    margin-bottom: 20px
}
.img-men span{
    font-weight: bold;
}
.card-footer .btn-secondary{
    background-color: #E91E63;
    border: 1px solid #E91E63;
}