<app-header ></app-header>
<section class="jumbotron">
    <div class="inner-content text-center">
        <h3 class="boldest">
           TERMS &amp; CONDITIONS
        </h3>
    </div>
</section>

<section class="bg-white padded">
    <div class="container">
    	<div class="content">
    		These Sale Terms and Conditions (together with our Privacy Policy and Website Acceptable Use Policy) form the contract between Fiver London Ltd ("we/us") and you (the "user" or "you") and sets out the legal terms and conditions (the "Terms") on which we sell any of the products (the "Products") listed on our Website (as defined below) to you.<br/>

			These Terms will govern your use of the Website. Please read these Terms carefully and make sure that you understand them, before ordering any Products from the Website. Please note that before placing an order you will be asked to agree to these Terms. If you refuse to accept these Terms, you will not be able to order any Products from the Website.<br/>

			We may amend these Terms from time to time as set out in clause 6. Every time you wish to order Products, please check the Website for the latest Terms to ensure you understand the terms which will apply at that time.<br/>
    	</div>

		<div id="accordion">
			<div class="card">
	            <div class="card-header" id="headingOne">
	                <h5 class="mb-0">
	                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse">
	                      1. INFORMATION ABOUT US
	                    </button>
	                </h5>
	            </div>
	            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordion" id="collapseThree">
	                <div class="card-body">
	                     <ol>
	                     	<li>
								We operate the online Website available at our website www.vogueafriq.com (as amended by us from time to time) (the "Website"). We are Fiver London Limited, a company incorporated and registered in England with company number 07384676, whose registered address is 54-56 Camden Lock Place, London NW1 8AF.
	                     	</li>

	                     	<li>
								If you wish to contact our customer service team, please refer to the methods and details on the Contact Us page of the Website.
	                     	</li>
	                     </ol>
	                </div>
	            </div>
        	</div>
        	<div class="card">
	            <div class="card-header" id="headingTwo">
	                <h5 class="mb-0">
	                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse">
	                       2. OUR PRODUCTS
	                    </button>
	                </h5>
	            </div>
	            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseThree">
	                <div class="card-body">
	                    Some of our Products can come with various manufacturers' labels where they have been purchased from branded mainstream stores. It is a legal requirement for all branded store labels to be removed from the Product in order for them to be sold on our Website. We try to ensure that this is conducted as neatly and precise as possible. However, some of the Products are imported on garment hangers and do not have protective packaging, so these will be dispatched as a lose packaged item. We offer our customers the right to exchange or refund their purchases from our website and this is set out in more below.

						2.2
						WARNING: Choking hazard- Some of our products contain small parts and detachable pieces which are not suitable for children under 3 years. Some Products are also dispatched in plastic packaging and should not be left with children unsupervised.<br/>

						2.3
						Whilst we try to make sure that the display and description of the Products on the Website is materially accurate, please note that we cannot guarantee that your computer's display of the colours accurately reflect the actual colour of the Products. The images of the Products on the Website are for illustrative purposes only and any Products you order may vary slightly from those images.<br/>

						2.4
						We follow specific guidelines from our manufacturers about our shoe sizes. These sizes may not match the mainstream stores' shoe sizes, however, please take note of our particular sizes. Our general shoe sizes range from a size 2 and 2 up to size 8. These sizes are advised to be the EU equivalent to a size 35 (size 2) - 41 (size 8). Kindly read through our customer reviews and also product description to get a better understanding of the shoes' fit. You are welcome to email us at sales@everything5pounds.com and request for a size guide to be sent to you.<br/>


	                </div>
	            </div>
        	</div>
        	<div class="card">
	            <div class="card-header" id="headingThree">
	                <h5 class="mb-0">
	                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse">
	                      3. HOW WE USE YOUR PERSONAL INFORMATION
	                    </button>
	                </h5>
	            </div>
	            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion" id="collapseThree">
	                <div class="card-body">
	                   We only use your personal information in accordance with our Privacy Policy. Please take the time to read our Privacy Policy as it includes important terms which apply to you.
	                </div>
	            </div>
        	</div>
		</div>
    </div>
</section>
