 <app-header></app-header>
 <section class="jumbotron">
   <div class="inner-content text-center">
     <h3 class="boldest">Clearance sales</h3>
   </div>
 </section>
<section class="padded" style="">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <!-- filter section -->
        <div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a class="boldest" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Categories
        </a>
        <span class="icon float-right"><i class="ion-plus-round"></i></span>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <ul class="nav flex-column">
      <li class="nav-item" >
        <div>
          <label for="women">
          <input type="checkbox" id="women" class="icheck" checked> &nbsp;
          Women's Fashion
        </label>
        </div>

        <div>
          <label for="men">
          <input type="checkbox" id="men" class="icheck"> &nbsp;
          Men's Fashion
        </label>
        </div>

        <div>
          <label for="kids">
          <input type="checkbox" id="kids" class="icheck"> &nbsp;
          Children's Wear
        </label>
        </div>

        <div>
          <label for="unisex">
          <input type="checkbox" id="unisex" class="icheck"> &nbsp;
          Bags and Accesories
        </label>
        </div>
      </li>
      
    </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Colour
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul class="nav flex-column">
      <li class="nav-item" >
        <div>
          <label for="women">
          <input type="checkbox" id="women" class="icheck" checked> &nbsp;
          Multi-colored
        </label>
        </div>

        <div>
          <label for="men">
          <input type="checkbox" id="men" class="icheck"> &nbsp;
          Red
        </label>
        </div>

        <div>
          <label for="kids">
          <input type="checkbox" id="kids" class="icheck"> &nbsp;
          Children's Wear
        </label>
        </div>

        <div>
          <label for="unisex">
          <input type="checkbox" id="unisex" class="icheck"> &nbsp;
          Bags and Accesories
        </label>
        </div>
      </li>
      
    </ul>
      </div>
    </div>
  </div>
 <!--  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          #3
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        
      </div>
    </div>
  </div> -->
</div>
      </div>
      <div class="col-sm-8 offset-md-1">
        <!--  -->
        <div class="row">
          <div class="col-sm-4" *ngFor="let item of sales">
            <!-- overall link for product and title -->
            <a href="">
              <div class="product-component text-center">
            <div class="product-image">
              <img src="{{item.feature_image}}" alt="product image" class="img-fluid">
            </div>
            <div class="product-title">
              <h6 class="" style="text-align: center;margin: 0;padding: 10px 0 0;"><a style="color: #011936" href="/product/{{item.id}}/{{item.slug}}">{{item.name}}</a></h6>
              <span class="text-center">
                <span>&#163;</span><b>{{item.regular_price |number}}</b>
              </span>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>