@import '~bootstrap/scss/bootstrap', './sass/variables', './sass/main';
html {
	zoom: 90%;
}
body {
    font-family: $primary-font;

}

.big-dot {
	font-family: 'Pacifico', sans-serif;
	color: $site-accent;
	font-size: 30px;
    line-height: 0;
}

.btn-rounded {
	border-radius: 50px;
}

.btn-outline-accent {
	border-color: $site-accent;
	background: transparent;
	&:hover {
		background-color: $site-accent;
	}
}


.boldest {
	font-weight: 700;
}

// general styling for jumbotron
.jumbotron {
	margin-bottom: 0;
	border-radius: 0;
}


// opacity
.fade-7 {
	opacity: .7;
}


// colors
.color-accent {
	color: $site-accent;
}

.jumbotron {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 0;
	color: #fff;

	.inner-content {
		z-index: 999;
		position: relative;
	}

	&::after {
		content: '';
		z-index: 998;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.3;
		// image should be darker for best representation.
		background-image:linear-gradient(24deg, #530620, #1b1918);
	} 
}