@import '~bootstrap/scss/bootstrap', './sass/variables', './sass/main';
html {
	zoom: 90%;
}
body {
    font-family: $primary-font;

}

.big-dot {
	color: $site-accent;
	font-size: 30px;
    line-height: 0;
}

.btn-rounded {
	border-radius: 50px;
}

.btn-outline-accent {
	border-color: $site-accent;
	background: transparent;
	&:hover {
		background-color: $site-accent;
	}
}


.boldest {
	font-weight: 700;
}

// general styling for jumbotron
.jumbotron {
	margin-bottom: 0;
}


// opacity
.fade-7 {
	opacity: .7;
}


// colors
.color-accent {
	color: $site-accent;
}