@import '~bootstrap/scss/bootstrap', './sass/variables', './sass/main';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Muli');

// loaders
body{
    font-family: sans-serif
}
.customloader {
    position: absolute;
    z-index: 99999;
    left: 0;
    right: 0;
    top: 50%;
}
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
html {
    // zoom: 90%;
}
body {
    font-family: $primary-font;
    a {
        color: $site-accent;
        font-weight: 700;
        text-decoration: none;
        transition: .2 ease-in;
        &:hover {
            color: darken($site-accent, 5%);
            opacity: .7;
            text-decoration: none;
        }
    }
}
.big-dot {
    font-family: 'Pacifico', sans-serif;
    color: $site-accent;
    font-size: 30px;
    line-height: 0;
}
.btn-rounded {
    border-radius: 50px;
}
.btn-outline-accent {
    border-color: $site-accent;
    background: transparent;
    &:hover {
        background-color: $site-accent;
    }
}
.boldest {
    font-weight: 700;
}
// general styling for jumbotron
.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}
// opacity
.fade-7 {
    opacity: .7;
}
// colors
.color-accent {
    color: $site-accent;
}
.jumbotron {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0;
    color: #fff;
    padding: 40px 0;
    .inner-content {
        z-index: 999;
        position: relative;
    }
    &::after {
        content: '';
        z-index: 998;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.3; // image should be darker for best representation.
        background-image: linear-gradient(24deg, #530620, #1b1918);
    }

    &.ordinary {
        background: darken($body-color, 5%);
        color: $site-blue;
        &::after{
            content: none;
        }
    }
}
.btn-accent {
    background-color: $site-accent;
    border-color: $site-accent;
    color: #fff;
    &:hover {
        opacity: .8;
    }
}
.card {
    border: 1px solid rgba(1, 25, 54, 0.22) !important; // border-bottom: 1px solid rgba(1,25,54,0.22) !important;
    margin-bottom: 15px;
    margin-bottom: 15px; // box-shadow: 2px 2px 5px #ddd;
    border-radius: 0;
}
.card-body {
    padding: 10px 0;
    padding-left: 15px !important;
    background: #ecf0f1;
    a {
        font-weight: 700;
        color: $site-blue !important;
        font-size: 14px;
        line-height: 1;
        transition: .2s ease-in;
        &:hover {
            color: $site-accent !important;
        }
    }
    label {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 12px;
        color: $site-blue;
    }
    .nav-item>div {
        margin-bottom: 5px;
    }
}
.card-header {
    border: 0;
    padding: 15px 20px !important;
    text-transform: uppercase;
    letter-spacing: 0px;
    border-bottom: 1px solid rgba(1, 25, 54, 0.22) !important;
    background: #ecf0f1;
    border-bottom: 1px solid rgba(1, 25, 54, 0.22) !important;
    h5 {
        font-family: $primary-font;
        color: $site-blue;
        font-size: 14px;
        a {
            color: #011936;
            text-decoration: none;
            font-weight: 600;
        }
    }
}
// producs
.product-title {
    margin-bottom: 10px !important;
    text-align: center;
    margin: 0;
    padding: 10px 0 0;
    a {
        color: $site-blue !important;
        font-size: 15px !important;
        padding: 0 10px;
    }
}
// forms
.form-title {
        font-size: 18px;
        font-weight: 600;
        color: $site-accent;
        text-transform: uppercase;
    }
// form {

    label, .custom-select {
        display: inline-block;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-image: none;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        border-radius: 1px;
        border: 1px solid #ddd;
    }

    .form-group {
        margin-bottom: 10px;
    }
    .btn {
        text-transform: uppercase;
        font-size: 12px;
        padding: 11px 20px;
        font-weight: 600;
        border-radius: 2px;
        // border: 0;
    }

    input.form-control::placeholder {
    text-transform: lowercase;
    font-size: 10px;
    font-weight: 600;
}

.form-actions {
    margin-top: 15px;
}
// }

.custom-select {
    width: 100%;
}

// colors
.color-accent {
    color: $site-accent;
}

// responsiveness
@media (max-width: 420px) {

#partners {
    img {
        width: 25px !important;
        height: 25px !important;
    }
}

#promo-banner{
    .label {
        background: red;
        padding: 20px;
    font-size: 80%;
    }
}
}


.dd-selected-image {
  img {
    width: 20px;
  }
}
.curr {
  button {
        padding: 0;
    box-shadow: none;
    margin-bottom: 15px;
    background: transparent;
    border: 0;
  }
}

.form-error {
      color: #eb5757;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.3;
    margin-top: 4px;
    text-transform: lowercase;
}

.avatar-dd {
  .dropdown-menu {
    right: 0;
    padding: 5px 0 !important;
    top: 35px;
  }
}
.mobile-head{
    display: none;
}

.bg-white {
  background: #fff;
}

