 <app-header></app-header>

<div class="jumbotron text-center" style="background-image: url('/assets/img/banner/women-category-banner.jpg')">
	<div class="inner-content">
		<h3 class="boldest">Women Category</h3>
	<p>Category description if necessary</p>
	</div>
</div>

<section class="padded" style="background-color: #fff">
	<div class="container">
		<div class="text-left">
		<div class="boldest title text-left" style="padding: 40px 0; font-weight: 600; font-size: 25px;  text-transform: capitalize;">
			<span class="">200 items</span> <span class="fade-7">matched this</span> category <span class="big-dot">...</span>
		</div>
		</div>

		<section id="products" class="padded">
			<div class="row">
				<div class="col-sm-3">
					<div class="product-item">
						<img src="/assets/img/moon-dress.jpg" alt="">
						<div class="product-details">
							<div class="product-title">Sample Title</div>
							<div class="product-price boldest">
								<del>N</del> 20,000
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="product-item">
						<img src="/assets/img/orange-dress.jpg" alt="">
						<div class="product-details">
							<div class="product-title">Sample Title</div>
							<div class="product-price boldest">
								<del>N</del> 20,000
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="product-item">
						<img src="/assets/img/brown-dress.jpg" alt="">
						<div class="product-details">
							<div class="product-title">Sample Title</div>
							<div class="product-price boldest">
								<del>N</del> 20,000
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="product-item">
						<img src="/assets/img/short-dress.jpg" alt="">
						<div class="product-details">
							<div class="product-title">Sample Title</div>
							<div class="product-price boldest">
								<del>N</del> 20,000
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="product-item">
						<img src="/assets/img/denim-dress.jpg" alt="">
						<div class="product-details">
							<div class="product-title">Sample Title</div>
							<div class="product-price boldest">
								<del>N</del> 20,000
							</div>
						</div>
					</div>
				</div>
			</div>			
		</section>
	</div>
</section>




<app-footer></app-footer>