 <app-header></app-header>

<div class="jumbotron text-center" style="background-image: url('/assets/img/banner/women-category-banner.jpg')">
	<div class="inner-content">
		<h3 class="boldest">{{category|uppercase}} Category</h3>
	<!-- <p>Category description if necessary</p> -->
	</div>
</div>

<section class="padded" style="background-color: #fff">
	<div class="container">
		<div class="text-left">
		<div class="boldest title" style="font-weight: 400; font-size: 20px">
			<!-- <span class="">200 items</span> <span class="fade-7">matched this</span> category -->
		</div>
		</div>

		<section id="products" class="padded">
			<div class="row">
				<div class="col-sm-3" *ngFor="let item of products">
					<div class="product-item">
						<img src="{{host_address + item.feature_image}}" alt="">
						<div class="product-details">
							<div class="product-title">{{item.name}}</div>
							<div class="product-price boldest">
								<del>N</del> {{item.regular_price}}
							</div>
						</div>
					</div>
				</div>

			
				
			</div>			
		</section>
	</div>
</section>




<app-footer></app-footer>