.jumbotron {
	margin: 0;

	h3 {
		color: #000;
		font-weight: bold;
	}
}

.jumbotron::after {
	background: #C4C4C4;
	opacity: 1;
}



.padded {
	background: #E0E0E0 !important;

	.form-title {
		color: #000;
		font-weight: normal;
		letter-spacing: 1.5px;
		margin-bottom: 30px;
	}

	form.loginForm {
		margin-bottom: 80px;
	}

	form {

		.form-group {
			margin-bottom: 15px;
			
			.form-control::placeholder {
				font-style: normal;
				text-transform: unset;
				letter-spacing: 1.5px;
				word-spacing: 1px;
				font-size: 16px;
				font-weight: 500;
			}
			
			.form-control {
				padding: 15px;
				font-size: 16px;
				border: none;
				border-radius: 0;
				outline: none;
				letter-spacing: 1.5px;
				font-weight: 500;
			}

			input:-webkit-autofill {
				-webkit-box-shadow: 0 0 0 30px white inset;
			}
		}

		button {
			background: #FF473A;
			border-radius: 0;
			border: none;
			padding: 20px;
			font-weight: 500;
			cursor: pointer;
		}


	}
}

.jumbotron {
    margin-bottom: 0 !important;
}

:host ::ng-deep .intl-tel-input {
    width: 100% !important;
}