<app-header [cart]="cart">
</app-header>
<section class="jumbotron">
    <div class="inner-content text-center">
        <h3 class="boldest">
           Shipping and Returns
        </h3>
    </div>
</section>
<section class="bg-white padded">
    <div class="container">
    	<div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link" data-target="#collapseOne" data-toggle="collapse">
                        WHO DO WE DELIVER TO?
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordion" id="collapseOne">
                <div class="card-body">
                    We currently ship in the UK and worldwide. All customers must be able to provide a valid shipping address and resident to where the parcel is to be sent to. A full breakdown of the shipping details, which include the full total amount, will be given to you at the checkout before the order is confirmed. Customers hold the right to leave the order stage at this time before the order goes through. At present our delivery charges are determined on the weight of the entire parcel (not per item) and start from just £3.95.
                    <br>

Please be advised that under no circumstance would an international/UK customer have to pay an additional fee for postage upon collection of a parcel from the courier. All international parcels are subject to review by the customs agency of the destination country and the addressee is liable for any additional customs charges which may be incurred. <br>

For the countries that we deliver to outside of the EU, due to our current courier shipment agreement for all countries outside of the EU including Africa, Asia, South America, Caribbean and Australia there is a 1.5kg limit per package which unfortunately under no circumstance can be waived. <br>

All of the delivery charges for international and domestic parcels are calculated on the weight of the parcel you will be informed of the full total amount of your order before you make your payment. Customers still hold the right to leave the order stage at any time before payment is made and your order will not go through. <br>

It is the customer’s responsibility to ensure that all of the order details are correct which include the correct sizes, colours and styles selected in the order are correct. This information cannot be amended or changed once confirmed. It is also the customer’s responsibility to ensure that the complete shipping address is correct which include the complete door number, street name and postcode. We do not hold liability for parcel delivered to addresses incorrectly stated on the order. A collection from the wrong address stated on the order has to be arranged by the customer as we are no longer in possession of the parcel. We would have only followed the instruction initially requested on the parcel. <br>

We suggest that you write a safe place option or a specific delivery request as a signature may not always be required for delivery of the parcel. If there is no one available to take delivery our carriers may attempt to leave it with a neighbour or in a safe, secure location. A card may be left to advise this to you, or to confirm that the parcel has been returned to the local depot. You can then contact them to arrange collection or to schedule a new delivery date providing that the service is applicable. <br>

Dependent of your method of payment, you can have your parcel shipped to an alternative address. You must ensure that the full address details are included, such as the company organisation or name. You can use any available address line to provide additional details such as company name or other specific address information. If a major credit or debit card is used on our website, the billing address must always be the same address to where the card is registered to otherwise this may prevent an order from going through successfully. An alternative shipping address worldwide can be selected with this method of payment alongside 3D security obtained by the bank. When using PayPal the billing address must be registered, verified and confirmed by PayPal on the account and the shipping address must be in the same country of billing registration.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button aria-controls="collapseTwo" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseTwo" data-toggle="collapse">
                        DELIVERY TIMES
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordion" id="collapseTwo">
                <div class="card-body">
                    We are unable to give an exact date or time for the delivery as the parcel will delivered within the approximate 1-3 days (unless stated otherwise) that we advise from the dispatch date. No orders are delivered on UK bank holidays. All delivery dates should be estimated from the date the order is despatched which is usually approximately 1-3 days from this date. You must allow at least 48 hours for pick and pack before dispatch.  All dates for delivery which include other courier services i.e. DHL, DPD, PARCELFORCE should be calculated from the date of dispatch and not from the date of order. Certain couriers provide hour time slots on the morning of dispatch to inform customers of the time for delivery. Out of our current couriers on all orders it is only Royal Mail who conducts Saturday deliveries between 9am-3pm. All other orders are delivered between Monday and Friday between 9am- 5pm (7pm for certain couriers).
                    <br>

Please also be advised that Royal Mail Next Day Delivery service is available but only for all UK parcels less than 10kg and placed on a working day before 5pm. Orders made after this time will be despatched on the next available working day and delivered on the second working day. When you get to the checkout of your order, you will be given your order delivery information including the service used, prices and courier. If there is no special delivery option given at the checkout this means that your parcel is not eligible for this service. Please also note that the delivery date stated at the checkout for guaranteed next day delivery parcels may not always be updated on time if there is an upcoming bank holiday.  For confirmation of these dates kindly refer to the following link; https://www.gov.uk/bank-holidays
<br>

International orders not sent via DHL, DPD or Parcel Force require 5-7 working days for orders to be delivered to the customs agency of the delivery country. Customs clearance time may vary and is determined by the customs agency of the delivery country. We are unable to guarantee delivery times with parcels sent via the standard international postal service due to the variance of international postal network delivery times. All international parcels are subject to review by the customs agency of the destination country and the addressee is liable for any additional customs charges which may be incurred.<br>

Additional information sent from the couriers such as text messages and emails are not a guarantee of the exact delivery times. This can sometimes be sent in error and is not an exact representation of the timescale. Always confirm with the sender (Everything5pounds.com) for the exact dispatch information for precise and more accurate information. We are not liable for delays calculated based on provided delivery estimates of the courier company in charge or other third parties.<br>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse">
                       RETURNS
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion" id="collapseThree">
                <div class="card-body">
                   Items may be returned for a full refund or exchange within 14 days from the date an order was received. There is a maximum of 30 days from the date the parcel was received for customers to identify any faulty items and contact us.<br>

CHRISTMAS RETURNS POLICY<br>

Our returns policy over Christmas 2017 for a full refund or exchange on orders placed on or after 1st December 2017 still in their original packaging, with tags/labels and unworn will have up to 15th January 2018 to return items. All items whether they do not suit your requirements or are damaged must be identified within this time.<br>

Customers are required to send items back to us at their own cost via any courier if they do not suit their requirements and this will also include items that do not fit, not suitable, wrong item selected, incorrect sizing, not same as on the website.<br>

Unfortunately we do not accept returns, on any underwear or swimwear items at any time due to hygiene reasons. Such items cannot be returned unless faulty or an incorrect size or style is sent. We kindly ask that you thoroughly check the size labels, product codes and also check for any faults before trying on. We will not accept any items back if the hygiene sticker has been removed from the garments and if they are not in their original packaging with labels intact. No refunds will be processed for any swimwear/underwear unless both pieces are returned. All goods will be inspected upon on return.<br>

Parcels must be sent back via post only- we do not accept returns in person to our distribution centre. All parcels returned in person not via the postal service can be rejected/returned to sender/not processed. We do not have any retail stores/outlets to purchase or return items to. All items returned must be in their original packaging (shoe boxes/clear plastic) and have labels/tags intact -except for items where packaging or labels were not provided by Everything5pounds.com.<br>

If an exchange is requested we will send the exchange item free of charge. All items returned for exchange will be processed accordingly by our returns team. If the exchange item requested is no longer available at the time of processing and no alternatives are provided, an automated refund will be applied.

Refunds made for returned/damaged/missing items can include the part of the original postage and packaging. If you return every item from your order within the set time you will be refunded your full P&amp;P placed from the original order. If only some of the items are returned, then part of your P&amp;P will be refunded. If an exchange item is returned for a refund you will not be refunded any of your original postage but just the £5 for the item- refunds can be rejected at this time and we have the right to issue an exchange only for exchanges.<br>

We strongly advise that customers inspect their order upon receipt of the parcel for any manufacturers defects that could have possible been missed throughout the checking process. We have a dedicated control team, however, in some circumstances these errors can sometimes be missed, so it is highly advisable to apply checks before using a purchased item.<br>

Pre-paid return labels are sent by post to UK customers only if they receive a wrong, damaged or manufacturer’s faulty item. Alternative procedures apply to customers outside of the UK. Customers are required to send items back to us at their own cost via any courier if they do not suit their requirements and this will also include items that do not fit, not suitable, wrong item selected, incorrect sizing, not same as on the website.<br>

Customers must keep safe a valid postage receipt including parcel weight for all return parcel enquiries. A valid postage receipt including tracking number must be provided in case of any parcels lost in transit. Any non-delivery cases will not be valid without this receipt which includes with us Royal Mail or any other courier service used. It is the responsibility of the sender to open a claim for any parcel’s lost in transit with the courier.<br>

You may use the original packaging if you still have them. If not, please pack your items securely in any packaging material suitable. Parcel can be rejected if parcels are returned damaged due to unsecure packaging.<br>

Full valid details along with refund/exchange instructions must be included within each returning package in order to be processed correctly. For example you must include a cover note stating your full name on your account, order number returned, the items from the given order that are being returned and your address for any exchanges to be sent. Alternatively, you can make a copy of your packing slip and highlight which items from this order you are returning and your request for a refund or exchange. Parcels can be held or rejected by the returns department and not processed if the received parcel cannot be identified by the details provided within the package. All returning requests for a refund/exchange will be processed upon the receipt of your returning parcel/packet from which our processing times of returning parcels are between 3- 5 working days.<br>

Everything5pounds follow specific guidelines from our manufacturers about our shoe sizes. These sizes may not comprehend with the mainstream store shoe sizes, however you would need to take note of these particular sizes that everything5pounds.com comply with. Our general shoe sizes range from a size 2 and 2 ½ to size 8 (41) for women and up to size 12 (45) for men. These sizes are advised to be the EU equivalent to a size 35 (size 2) – 41 (size 8). Kindly read through our customer reviews and also product description to get a better understanding to the shoes fit. You are welcome to email us at sales@everything5pounds.com and request for a size guide to be sent to you. Please also be advised that we do not cover the postage to returns items that do not fit or do not suit your requirements. Kindly bear in mind our product sizes when placing orders.<br>

All items sent back to us via post must be within the 14 days policy and can be sent to:

Fiver London Limited
Unit 44 Yardley Business Centre
Miles Gray Road
Basildon
SS14 3GN
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button aria-controls="collapseThree" aria-expanded="false" class="btn btn-link collapsed" data-target="#collapseThree" data-toggle="collapse">
                       UNDELIVERED PARCELS RETURNED
                    </button>
                </h5>
            </div>
            <div aria-labelledby="headingThree" class="collapse" data-parent="#accordion" id="collapseThree">
                <div class="card-body">
                    Providing that the recipient’s order has been registered as delivered by the courier company and providing that the customer has provided the correct delivery address, if an order is not received by the customer within the first seven days from the delivery date stated by the couriers, we can raise an investigation in our aim to recover the parcel. Please be advised it is a compulsory condition to report non-delivery cases within 10 calendar days from the delivery date stated by the courier company to initiate a claim with the courier company. Under no circumstance can we declare a parcel as lost until a full investigation with the warehouse/courier company/returns department has taken place
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
